html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main .mainScreen {
    width: 96vw;
    height: 98vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main .mainScreen .mainScreen-mainInfo .mainScreen-mainInfo_mainTitle{
    color: rebeccapurple;
    font-size: 3.3em;
    text-align: center;
    margin: 0;
}

main .mainScreen .mainScreen-mainInfo .mainScreen-mainInfo_mainText{
    color: red;
    font-size: 1.8em;
    margin: 0;
    padding: 0.4em;
}

main .mainScreen .mainScreen-mainForm {
    border: 0.1em solid black;
}

main .mainScreen .mainScreen-mainForm_field{
    line-height: 3em;
    letter-spacing: 0.1em;
    box-sizing: border-box;
}

main .mainScreen .mainScreen-mainForm_field label{
    font-size: 1.5em;
    padding: 0.5em;
}

main .mainScreen .mainScreen-mainForm_field input{
    padding: 0.5em;
    border-radius: 0.4em;
    box-sizing: border-box;
    border: 0.1em solid black;
}